__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
*.egg
dist/
build/
*.log
*.pid
*.seed
*.whl
*.tar.gz
*.bak
*.swp
*.DS_Store
*.idea/
*.vscode/
*.pytest_cache/
coverage/
.coverage
htmlcov/
tox/
*.mo
*.pot
*.py,cover
*.sqlite3